.sec_profile {
    .profile_ctr {
        margin: 5rem 0 8rem 0;

        .portrait {
            margin: 0 auto 2rem auto;
            position: relative;
            max-width: 18rem;
            width: 50%;
            aspect-ratio: 1;
            min-width: 3rem;
            overflow: hidden;
            border: 2px solid var(--common-border-color);
        }

        .portrait_below {
            margin: 0 auto 0 auto;

            h1 {
                font-size: 2rem;
                letter-spacing: 0.05rem;
                text-justify: center;
                margin-bottom: 0.5rem;
            }
        }
    }
}

.bio {
    margin-top: 2rem;

    .portal_ctr {
    }
}
