.wip {
    //margin-top: 50px;
}

.left_ss {
    padding: 50px 10% 0 0;
    // TODO: Move to mdx-components.tsx
    p, h1, h2, h3, h4, h5, h6 {
        font-size: 1.2rem;
    }
}

.right_ss {
    .portrait_ctr {
        width: 16vw;
        // TODO: These should be properties of the underlying image.
        min-width: 200px;
        aspect-ratio: 0.7;

        margin: 0 auto 0 auto;
        background: rgb(60, 60, 60);
        border: 2px solid var(--common-border-color);
    }
    .caption {
        margin-top: 15px;
        padding-left: 16px;
    }
    h1 {
        font-size: 32px;
    }
}
